body {
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Контейнер слайдера */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Слайды */
.slides {
  position: relative;
  width: 100%;
  height: 80vh;
}

.mySlide {
  display: none;
  position: absolute;
  width: 100%;
  border-radius: 1%;
}

.mySlide img {
  width: 100%;
  height: 80vh;
  border-radius: 1%;
}

/* Радио-кнопки для управления слайдами */
input[type="radio"] {
  display: none;
}

/* Отображение слайда, если радиокнопка выбрана */
#slide1:checked ~ .slides #s1,
#slide2:checked ~ .slides #s2,
#slide3:checked ~ .slides #s3,
#slide4:checked ~ .slides #s4 {
  display: block;
}

/* Текст */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  top: 102%;
  width: 100%;
  text-align: left;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  position: absolute;
  top: 0;
}

/* Кнопки-точки 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(114, 120, 248);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/
.dot {
  cursor: pointer;
  height: 20px; /* Увеличим высоту */
  width: 20px; /* Увеличим ширину */
  margin: 0 5px; /* Добавим отступы для лучшего внешнего вида */
  background-color: rgb(114, 120, 248);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative; /* Позиционирование для управления областью */
}

.dot:hover {
  background-color: #f7f1f1;
}

/* Увеличим кликабельную область за счет псевдоэлемента */
.dot::before {
  content: "";
  position: absolute;
  top: -10px; /* Увеличиваем область выше */
  left: -10px; /* Увеличиваем область слева */
  right: -10px; /* Увеличиваем область справа */
  bottom: -10px; /* Увеличиваем область снизу */
}

.circlbuttons {
  text-align: center;
  margin-top: 20px;
}
/*
.dot:hover {
  background-color: #f7f1f1;
}*/

/* Анимация появления слайда */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Адаптивная версия для мобильных */
@media (min-width: 320px) and (max-width: 768px) {
  .text {
    top: 110%;
  }
}
